<!-- src/app/app.component.html -->
<div class="menu">
  <h1>{{ title }}</h1>
  <p class="small-text bounded-text">
    The
    <a href="https://www.npmjs.com/package/@openfeature/angular-sdk">
      &#64;openfeature/angular-sdk
    </a>
    is built on the
    <a href="https://www.npmjs.com/package/@openfeature/web-sdk">
      &#64;openfeature/web-sdk</a
    >, and adds additional Angular-specific APIs and features. The
    <a href="https://openfeature.dev/specification/sections/flag-evaluation">
      evaluation API
    </a>
    is exposed through directives. The directives automatically re-render when
    flags or status change.
  </p>
  <nav>
    <a routerLink="/context-change" routerLinkActive="active"
    >Context Change
      <div>Demonstrates context change handling.</div>
    </a>
  </nav>
  <router-outlet></router-outlet>
</div>
